<div class="footer-front">
  <div class="top container">
    <div class="row">
      <div class="col-md-3">
        <h5>Services</h5>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Delivery Now</a></li>
          <li><a href="#">Express</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Careers</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>INFORMATION</h5>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Terms of Delivery Service</a></li>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>GET IN TOUCH</h5>
        <table class="table">
          <tr>
            <td class="nowrap vtop">Address:</td>
            <td>
              Landmark Pluit<br>
              Unit B1 Floor 8,9,10<br>
              Jl. Pluit Selatan Raya, Jakarta Utara, 14450
            </td>
          </tr>
          <tr>
            <td class="nowrap">Phone:</td>
            <td><a href="tel:021-8066-1888">021-8066-1888</a><br></td>
          </tr>
          <tr>
            <td class="nowrap">E-Mail:</td>
            <td>callcenter@sikurir.co.id</td>
          </tr>
        </table>

      </div>
      <div class="col-md-3 social-media">
        <h5>STAY CONNECTED</h5>
        <a href="https://www.facebook.com/jntexpressindonesia/" target="_blank" class="link-facebook">
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
        </a>
        <a href="https://www.youtube.com/channel/UCdL3-euNvJhMMBvEVVBg5pA" target="_blank" class="link-youtube">
          <i class="fa fa-youtube-square" aria-hidden="true"></i>
        </a>
        <a href="https://twitter.com/jntexpressid" target="_blank" class="link-twitter">
          <i class="fa fa-twitter-square" aria-hidden="true"></i>
        </a>
        <a href="https://www.instagram.com/jntexpressid/" target="_blank" class="link-instagram">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="container">
      <div class="row">
        <div class="logo col-md-6 col-sm-6">
          <a href="#">
            <img src="https://www.jet.co.id/images/logo-white.png" alt="">
          </a>
        </div>
        <div class="copyright text-center col-md-6 col-sm-6">
          © 2015-2018 PT. Global Jet Express All Rights Reserved
        </div>
      </div>
    </div>
  </div>
</div>
